<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
                th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h1 class="font-weight-bold">Smart Contact Manager</h1>
	
	<p>Smart Contact Manager is a web application designed to efficiently manage and organize your<br>
contacts, offering a user-friendly interface for storing, retrieving, and<br>
updating contact information with ease.</p>
 <button class="btn btn-primary btn-lg">Get Start</button>
	</div>
	</section>
</body>
</html>